#WebtoonCard {
    .card-main {
        background: #ffffff;

        button {
            outline: none !important;
        }

        .card-media-outer {
            max-height: 250px;
            height: 250px;
            overflow: hidden;
            position: relative;

            .card-media {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                transition: all 0.7s ease;

                &:hover {
                    transform: scale(1.3) rotate(10deg);
                }
            }

            .card-media-info {
                width: 100%;
                padding: 20px 10px 10px 20px;
                left: 0;
                bottom: 0;
                color: #FFF;
                position: absolute;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);

                .channel-name {
                    color: #ffffff;
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
            }

            .card-media-action {
                display: flex;
                max-height: 0;
                overflow: hidden;
                -webkit-transition: max-height 0.2s;
                -moz-transition: max-height 0.2s;
                transition: max-height 0.2s;
                    .action {
                        display: flex;
                        margin-right: 10px;
                        .MuiTypography-root {
                            padding-left: 5px;
                        }
                        .favoriteI-icon{
                            font-size: 20px !important;
                        }
                }
            }

            .card-right-media-action {
                max-width: 0;
                overflow: hidden;
                position: absolute;
                top: 0px;
                padding-top: 15px;
                bottom: 0;
                right: 0;
                -webkit-transition: max-width 0.2s;
                -moz-transition: max-width 0.2s;
                transition: max-width 0.2s;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.22) 0%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 101%);
                .action {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding-bottom: 5px;
                    color: #ffffff;
                    .MuiTypography-root {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }

            &:hover {
                .card-media-info {
                    padding: 20px 45px 10px 20px;
                }
                .card-right-media-action {
                    max-width: 200px;
                    padding-right: 5px;
                    padding-left: 5px;
                    -webkit-transition: max-width 1.5s;
                    -moz-transition: max-width 1.5s;
                    transition: max-width 1.5s;
                }

                .card-media-action {
                    max-height: 200px;
                    -webkit-transition: max-height 1.5s;
                    -moz-transition: max-height 1.5s;
                    transition: max-height 1.5s;
                }
            }
        }

        .card-content {
            display: flex;

            .card-avatar {
                .MuiAvatar-root {
                    background-color: #b31504;
                    width: 30px;
                    height: 30px;
                    font-size: 16px;
                }

                a {
                    color: #ffffff;
                }

                .avatar-time {
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }

            .card-info {
                padding-left: 15px;

                a {
                    color: unset;
                    text-decoration: none;
                }

                .card-info-title-main {
                    display: flex;
                    align-items: center;

                    .title {
                        font-weight: bold;
                    }

                    .title-time {
                        padding-left: 15px;
                    }
                }

                .card-sub-info {
                    display: flex;
                    padding: 5px 0;

                    .sub-info-1 {}

                    .sub-info-2 {
                        padding-left: 25px;

                    }
                }

                .desc {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    // width: calc(100% - 30px);
                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                }
            }
        }

        .react-thumbnail-generator {
            height: 0px !important;
            width: 0px !important;
            display: none !important;

            img {
                width: 0px !important;
                height: 0px !important;
                display: none !important;
            }
        }
    }

}